* text=auto

*.blade.php diff=php
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.blade.php linguist-language=php
*.html linguist-vendored

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
*.js linguist-vendored
public/vendor linguist-vendored
